* {
  margin: 0;
  padding: 0;
  touch-action: none;
  box-sizing: border-box;
  border-radius: 5vmin;
}

html,
body,
column {
  position: absolute;
  inset: 0;
}

body, column, row {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

column {
  flex-direction: column;
  position: relative;
}

row {
  flex-direction: row;
  height: 30vmin;
  margin: .5vmin 0;
}

button {
  font-size: 10vmin;
  overflow: hidden;
  background: transparent;
  border: .05vmin solid orange;
  width: 75vw;
  max-width: 75vw;
  height: 30vmin;
  max-height: 30vmin;
  margin: .5vmin .5vmin;
}

row > button {
  font-size: 24vmin;
  width: 30vmin;
  aspect-ratio: 1;
}

button[disabled] {
  color: white;
}

@media (orientation: portrait) {
  body {
    flex-direction: column;
  }
}

@media (orientation: landscape) {
  body {
    flex-direction: row;
  }
  row {
    height: 30vmin;
  }
}