* {
  margin: 0;
  padding: 0;
  touch-action: none;
  box-sizing: border-box;
  border-radius: 5vmin;
}

html,
body {
  position: absolute;
  inset: 0;
}

body,
column,
row {
  display: flex;
  align-items: space-evenly;
  justify-content: space-evenly;
}

column {
  flex-direction: column;
  position: relative;
  align-items: stretch;
  border: .5vmin solid green;
  margin: 1vmin;
  aspect-ratio: 1;
}

row {
  flex-direction: row;
}

button {
  overflow: hidden;
  background: transparent;
  font-size: 10vmin;
  border: .5vmin solid gold;
}

row>button {
  font-size: 20vmin;
  height: 25vmin;
  aspect-ratio: 1;
}

body>button {
  margin: auto;
  padding: 2.5vmin;
}

#turn,
button[disabled] {
  color: black;
}

@media (orientation: portrait) {
  body {
    flex-direction: column;
  }
}

@media (orientation: landscape) {
  body {
    flex-direction: row;
  }
}